* {
    /* outline: 1px dashed red; */
}

#gold-count-container {
    margin: 2% 3%;
}

#reset-form {
    display: flex;
    justify-content: center;
}

#places-container {
    display: flex;
    justify-content: space-around;
    margin: 4%;
    text-align: center;
}

#activity-container {
    margin: 2% 3%;
    outline: 1px dashed red;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

#activity-container p {
    width: 50%;
}
