* {
    outline: 1px dashed red;
}

#gold-count-container {
    margin: 2% 3%;
    outline: 1px dashed blue;
}

#reset-form {
    display: flex;
    justify-content: center;
}

#places-container {
    display: flex;
    justify-content: space-around;
    margin: 4%;
}

#activity-container {
    margin: 2% 3%;
}