<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div id="gold-count-container">
        <h4>Your Gold:</h4>
        <p>{{ request.session.gold_count }}</p>
    </div>

    <form action="/clear" method="POST" id="reset-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Reset</button>
    </form>

    <div id="places-container">
        <div id="farm">
            <h3>Farm</h3>
            <p>(Earn 10 - 20 gold)</p>
            <form action="/process_farm" method="POST">
                {% csrf_token %}
                <button type="submit">Find Gold</button>
            </form>
        </div>
        <div id="cave">
            <h3>Cave</h3>
            <p>(Earn 5 -10 gold)</p>
            <form action="/process_cave" method="POST">
                {% csrf_token %}
                <button type="submit">Find Gold</button>
            </form>
        </div>
        <div id="house">
            <h3>House</h3>
            <p>(Earn 2 - 5 gold)</p>
            <form action="/process_house" method="POST">
                {% csrf_token %}
                <button type="submit">Find Gold</button>
            </form>
        </div>
        <div id="casino">
            <h3>Casino</h3>
            <p>(Earn/Lose 0 - 50 gold)</p>
            <form action="/process_casino" method="POST">
                {% csrf_token %}
                <button type="submit">Find Gold</button>
            </form>
        </div>
    </div>

    <div id="activity-container">
        <h4>Activities:</h4>
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example"
            tabindex="0">
            {% for i in request.session.activity %}
            <p>
                {{ i }}
            </p>
            {% endfor %}
        </div>
    </div>

</body>

</html>